#community-discord-blurb {
    background: #7289DA url('../assets/images/discord-background.svg');
    background-size: 120px;
}

#community-forums-blurb {
    background: #212121 url('../assets/images/forum-background.svg');
    background-size: 120px;
}

.community-platform {
    padding: 2rem 0;
}

.community-platform h4 {
    font-weight: 700;
}